body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
#main{
    border-radius: 5px;
    background: whitesmoke;
    margin: 30px 8px;
}
#img-div{
    background: white;
    width: calc(100% - 40px);
    margin: auto;
}
#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}
ul {
    display: inline-block;
    text-align: left;
    max-width: 500px;
}