body{
    color: hsl(0, 0%, 20%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
#main{
    border-radius: 5px;
    background: rgb(238,238,238);
    margin: 1.875rem .5rem;
}
#img-div{
    background: white;
    width: calc(100% - 40px);
    margin: auto;
}
#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    padding-top: 1.875em;
    padding-bottom: 1.875em;
}
ul {
    display: inline-block;
    text-align: left;
    max-width: 500px;
    line-height: 1.5;
}
#tribute-link{
    color: steelblue;
}
#tribute-link:visited{
    color: slategray;
}
.title{
    padding-top: 1.5em;
}