body{
    margin: 0;
    padding: 0;
    text-align: center;
}
main{
    border-radius: 5px;
    background: whitesmoke;
    margin: auto;
    width: 98%;
}
#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}